*{
    box-sizing:border-box;
  
  }
  body{
      margin:8px;
      background :rgb(118, 117, 143);
      
  
  }
  nav{
      background:#594848;
      width:100%;
      overflow:auto;
  
  }
  ul{
      margin:0;
      padding:0;
      list-style:none;
    
  }
  li{
      float:left;
  }
  nav a {
      width: 120px;
      display: block;
      text-decoration: none;
      text-align: center;
      background: #594848;
      font-size: 17px;
      color: white;
      padding: 20px 10px;
      font-family: Arial;
  }
  nav a:hover{
      background:skyblue;
      color:black;
  
  
  }
  
  
  .title h1 {
      text-align: center;
      font-size: 40px;
  }


    .grid-container {
        display: grid;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 0;
        text-align: center;
        font-size: 30px;
    }

    .grid-container > div {
        display: block;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
    }
  
  .image {
      border: 1px solid rgba(172, 146, 146, 0.8);
      padding: 20px;
      float: left;
      height: 350px;
  
  }
  .footer{
      width:100%;
      text-align:center;
      padding:30px 0;
  
  
  
  }
  footer h1{
      margin-bottom:25px;
      margin-top:20px;
      font-weight:600;
  }
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
  }
  #toggle {
        padding: 6px 10px;
        border: none;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        background-color: #8d1f43;
        width: 250px;
        margin: 30px 40px 20px 40px;
        color: white;
        font-size: 16px;
        text-shadow: 0 3px 5px black;
    }
  
  
  
  
  
  